* {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.hero {
    background-color: #1f2937;
    color:white;
    
    padding: 50px 100px;
    padding-top: 0px;
}

.hero p {
    color:#E5E7EB;
}

.hero button {
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    font-weight: bold;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h2 {
    font-size: 24px;
}

.header ul {
    font-size: 18px;
    color:#E5E7EB;

    list-style: none;
    padding-left: 0;

    display: flex;
    gap: 10px;
}

.hero-body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.hero-body div {
    flex: 1;
}

.hero-body h1 {
    margin-bottom: 5px;
    padding: 0px;
}

.hero-body p {
    font-size: 18px;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

.hero-body .image {
    background-color: darkgray;
    width: 500px;
    height: 200px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.image-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 200px;
    padding-top: 0;
    padding-bottom: 70px;
}

.image-block h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.card-shelf {
    display: flex;
    justify-content: center;
    gap: 30px;

    margin-top: 0px;
    padding-top: 0px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: 150px;
}

.card div {
    height: 150px;
    width: 150px;
    border:  3px solid #3882F6;
    border-radius: 10px;
}

.quote-block {
    background-color: #E5E7EB;
    padding: 75px 140px;
}

.quote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
}

.author {
    text-align: right;
    font-weight: bold;
    font-size: 24px;
    padding-right: 25px;
}

.cta {
    background-color: #3882F6;
    color: white;
    margin: 50px 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
}

.cta h4 {
    padding: 0;
    margin: 0;
}

.cta p {
    padding: 0;
    margin: 0;
}

.cta button {
    color: white;
    background-color: #3882F6;
    border-color: white;

    border-radius: 5px;
    padding: 5px 20px;
    font-weight: bold;
}

.footer {
    background-color: #1f2937;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 30px;
}